* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
}

.main-content {
    display: flex;
    width: 75%;
    max-width: 1200px;
    min-height: 300%;
}

@media (max-width: 600px) {
    .main-content {
        flex-wrap: wrap;
    }
    .sidebar {
        flex-grow: 1;
    }
    .sidebar ul {
        width: 250px;
        justify-content: center;
    }
}

/* sidebar */

.sidebar {
    color: white;
    width: max(27ch, 30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--green);
    padding: 5ch 0ch 0ch 0.5ch;
    gap: 2ch;
}

.sidebar a {
    color: white;
    text-decoration-line: none;
}

.portrait {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    border: 2px solid white;
    border-radius: 100%;
    background-size: 175px;
    background-position: 50% 30%;
    background-image: url(images/portrait.JPG);
    /* clip-path: circle(40% at 50% 45%); */
}

.contacts {
    width: 100%;
}

.contacts > * {
    width: 100%;
    padding: 0.75ch 1ch;
}

.contacts > *:hover {
    background-color: var(--green_hover);
    border-left: solid 2px rgb(228, 196, 13);
}

.contacts img[src*='icons'] {
    width: 2ch;
    height: auto;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

/* body content */

.content {
    padding: 3ch;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 2ch;
}

.content h2 {
    margin-bottom: 1ch;
}

.content p {
    font-weight: 350;
    margin-bottom: 1.5ch;
    color: rgb(58, 58, 58);
}

/* introduction */

.greeting {
    display: flex;
    margin: 3ch 0ch;
    align-items: center;
    gap: 2ch;
}

.greeting img[src*='icons'] {
    height: 5ch;
    width: auto;
    filter: invert(87%) sepia(73%) saturate(6937%) hue-rotate(342deg) brightness(98%) contrast(103%);
}

/* experience */

.experience ul {
    padding: 3ch;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
}

.experience li {
    display: flex;
    justify-content: space-between;
}

/* general */

li {
    align-items: center;
    display: flex;
    gap: 1ch;
    color: white;
    list-style-type: none;
}